@media screen and (max-width: 700px) {
    header .container {
        display: flex;
        flex-direction: column;
    }

    .container-main .descricao p {
        font-size: 16px;
    }

    .container-main .descricao h1 {
        font-size: 18px;
        color:var(--verde);
    
    }

    .botao button {
        font-size: 10px;
    }
}

@media screen and (min-width:1000px) {
    .descricao {
        width: 50%;
    }
}